.transaction-history {
    border-collapse: collapse; 
    width: 100%;
    font-size: 18px;

}

.transaction-history th, .transaction-history td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: center; 
}

.transaction-history th {
    background-color: #3baee1;
    color: #FFF;
}